<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<parameter name="xmlFileName" value="Suite.xml" />
	<test name="TestHeadless" thread-count="2" parallel="classes">
		<parameter name="headless" value="false" />
		<packages>
			<package name="scenarios"/>
		</packages>


	</test>

	<!-- The Test cases below require windows explorer to open, which does not work in headless mode
         So the test cases below will not run in parallel, and will be headed. -->

	<test name="TestHeaded">
		<parameter name="headless" value="false" />
		<packages>
			<package name="singleThreaded"/>
		</packages>
	</test>


</suite>
